/* REGOLE RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
/* REGOLE GENERALI */
body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #33475b;
}
.container {
  width: 80%;
  margin: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.inlineblock li {
  display: inline-block;
}

.fas.fa-search {
  color: #31b6cb;
}

.button {
  background-color: #fe775a;
  border-radius: 3px;
  padding: 9px 15px;
  color: white;
}

.buttonwhite {
  background-color: #dadee0;
  border-radius: 3px;
  padding: 9px 15px;
  color: #32495b;
}

/* REGOLE HEADER */
header {
  color: #33475b;
}
/* Regole Menu top */
header .menutop {
  background-color: #f4f9fd;
  height: 80px;
  border-bottom: 1px solid  black;
}
header .menutop .container {
  height: 100%;
}
header .menutop .container .col {
  width: 30%;
  height: 100%;
  padding-top: 2%;
}
header .menutop .container .col .inlineblock li {
  padding: 8px 15px;
  margin: 0 10px 0 0;
}
header .menutop .container .col.left {
  float: left;
}
header .menutop .container .col.left ul li:first-child {
  padding: 8px 15px 8px 0;
}
header .menutop .container .col.right {
  float: right;
  width: auto;
}
header .menutop .container .col.right ul li:nth-child(2) {
  color: #fe775a;
  border: 1px solid #fe775a;
  border-radius: 3px;
  background-color: #fafcfe;
}

/* Regole Menu bottom */
header .menubottom {
  background-color: white;
  height: 80px;
}
header .menubottom .container {
  height: 100%;
}
header .menubottom .container .col {
  width: 30%;
  height: 100%;
  padding-top: 2%;
}
header .menubottom .container .col.left {
  float: left;
}
header .menubottom .container .col.right {
  float: right;
  width: auto;
}
header .menubottom .container .col .inlineblock li {
  padding: 0 20px 0 0;
}
/* Regole teaser */
.teaser {
  background-image: url(../img/jumbotron.png);
  height: 700px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.teaser .container {
  height: 100%;
  position: relative;
}
.teaser .container .teasercontent {
  height: 50%;
  width: 45%;
  position: absolute;
  top: 10%;
}
.teaser .container .teasercontent * {
  margin-bottom: 40px;
}

.teaser .container .teasercontent h1 {
  font-size: 40px;
}
/* Regole divisore */
.teaserhr {
  border-top: 2px solid #33475b;
  border-bottom: 2px solid #33475b;
  height: 80px;
  background-color: #afebe4;
}

/* REGOLE MAIN */
/* Regole sezione hub*/
#hub {
  background-color: #f4f9fd;
  padding-top: 2%;
  color: #33475b;
}
/* Regole valide per piu sottosezioni */
main #hub .container .row.one, main #hub .container .row.two {
  background-color: white;
  width: 100%;
  margin-bottom: 3%;
}
/* Regole Prima sottosezione */
main #hub .container .row.one .col.one h2 {
  margin-bottom: 2%;
}
main #hub .container .row.one {
  background-color: #f4f9fd;
}
main #hub .container .row.one .col.one img {
  height: 200px;
  padding: 0 39%;
}
main #hub .container .row.one .col.one h2, main #hub .container .row.one .col.one p {
  text-align: center;
}
/* Regole Seconda sottosezione */
main #hub .container .row.two .col {
  padding: 40px 20px 20px 20px;
  float: left;
}
main #hub .container .row.two .col.one {
  width: 30%;
}
main #hub .container .row.two .col.one * {
  display: block;
}
main #hub .container .row.two .col.two * {
  margin-bottom: 4%;
}

main #hub .container .row.two .col.two h4 {
  display: inline-block;
}
main #hub .container .row.two .col.two hr {
  display: inline-block;
  width: 60%;
  margin: 1% 5%;
}
main #hub .container .row.two .col.two {
  width: 60%;
}
main #hub .container .row.two .col.one img {
  height: 100px;
  padding: 0 28%;
}
main #hub .container .row.two .col.one a {
  text-align: center;
  width: 45%;
  margin: 30px auto;
}
main #hub .container .row.two .col.two ul li {
  padding-right: 2%;
}
main #hub .container .row.two .col.two ul li i {
  color: orange;
}
main #hub .container .row.two .col.two ul:last-child {
  margin-bottom: 0%;
}
/* Regole Terza sottosezione */
main #hub .container .row.three .col {
  background-color: white;
  width: 100%;
  margin-bottom: 3%;
}
main #hub .container .row.three .col {
  height: 600px;
  width: 30%;
  float: left;
  padding: 2%;
}
main #hub .container .row.three .col * {
  text-align: center;
  margin-bottom: 5%;
}
main #hub .container .row.three .col hr,a {
  margin: 10% 0;
}
main #hub .container .row.three .col a {
  width: 45%;
  margin: 10% auto;
}
main #hub .container .row.three .col ul li {
  margin-bottom: 1%;
  text-align: left;
}
main #hub .container .row.three .col ul li i {
  margin-bottom: 0;
  color: orange;
  padding-right: 2%;
}

main #hub .container .row.three .col.two {
  margin: 0 5%;
}
main #hub .container .row.three .col img {
  height: 100px;
  margin: 20px auto;
}
main #hub .container .row.three .col img, main #hub .container .row.three .col a {
  display: block;
}
/* Regole sezione community */
main #community {
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  width: 100%;
  color: white;
}
main #community .container h2 {
  padding-top: 50px;
  margin-bottom: 40px;
}
main #community .container h2, main #community .container h3, main #community .container p {
  text-align: center;
}
main #community .container h3 {
  font-size: 24px;
}
main #community .container .row.one .block {
  float: left;
  width: 25%;
  margin: 50px auto 0 auto;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
main #community .container .row.one .block p {
  padding-bottom: 3%;
}
main #community .container .row.one .block:last-child {
  border-right: none;
}
main #community .container .row .block img {
  display: block;
  height: 33px;
  margin: 20px auto;
}
main #community .container .row.two .block {
  float: left;
  width: 25%;
  margin: 0 auto 80px auto;
  border-right: 1px solid white;
}
main #community .container .row.two .block:last-child {
  border-right: none;
}
/* Regole sezione reference */
main #reference {
  background: white;
  height: 600px;
  width: 100%;
  color: #32495b;
}
main #reference .container > .row {
  padding-top: 40px;
}
main #reference .container .row .col.one {
  float: left;
  width: 30%;
}
main #reference .container .row.one .col.two {
  float: right;
  width: 45%;
}
main #reference .container .row.two .col.two {
  float: right;
  width: 60%;
}
main #reference .container .row.one .col.one {
  padding: 0 60px;
}
main #reference .container .row.one .col.two .row.one {
  padding-top: 20px;
  padding-bottom: 20px;
}
main #reference .container .row.one .col.two img {
  padding-right: 20px;
}
main #reference .container .row.one .col.one p {
  padding-top: 20px;
  line-height: 30px;
  letter-spacing: 0.1px;
}
main #reference .container > .row.one {
  padding-bottom: 30px;
}
main #reference .container .row.two .col.one * {
  display: block;
  margin-bottom: 20px;
}
main #reference .container .row.two .col.one a {
  width: 200px;
  text-align: center;
}
main #reference .container .row.one .col.two img {
  width: 110px;
}
main #reference .container .row.two .col.two img {
  height: 300px;
  padding-left: 50%;
}
/* REGOLE FOOTER */
footer {
  background-color: #32495b;
  width: 100%;
  color: white;
}
footer a {
  color: white;
}
footer .container .row .col {
  height: 300px;
  width: 23%;
  float: left;
  margin-right: 2.5%;
  margin-top: 2%;
}
footer .container .row .col:last-child {
  margin-right: 0;
}
footer .container .row.two ul {
  padding-top: 10%;
  text-align: center;
  padding-bottom: 2%;
}
footer .container .row.one ul {
  padding-top: 10px;
}
footer .container .row.one ul li {
  line-height: 40px;
}
footer .container .row.one ul li ul li {
  padding-right: 20px;
}
footer .container .row.two {
  padding-bottom: 30px;
}
footer .container .row.two hr {
  margin: 5px 0 20px 0;
}
footer .container .row.two .block.one {
  float: left;
}
footer .container .row.two .block.two {
  float: right;
}
footer .container .row.two .block.two ul li {
  padding-right: 10px;
}
